@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  background: url("/hero-bg.png");
  background-position: center;
  background-size: cover;
}

.layout {
  max-width: 1440px;
  width: 100%;
}

@media (min-width: 1240px) and (max-width: 1535px) {
  .font {
    font-size: 15rem;
  }
}
